<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API key</key>
	<string>E5g7UJ7BZDfW6ebIYfDFuZwVt</string>
	<key>API secret</key>
	<string>tUBX2sT8yWGogRnlHdY45iQ5YqsxjhZMiIb1ObfqtR0oeUDwlj</string>
</dict>
</plist>
